@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Optisource Technology - Home</title>
    <link rel="icon" href="~/Content/WelcomePageContent/img/Fevicon.png" type="image/png">


    <link rel="stylesheet" href="~/Content/WelcomePageContent/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/WelcomePageContent/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/Content/WelcomePageContent/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/Content/WelcomePageContent/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/Content/WelcomePageContent/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/WelcomePageContent/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/WelcomePageContent/vendors/flat-icon/font/flaticon.css">
    <link rel="stylesheet" href="~/Content/WelcomePageContent/vendors/nice-select/nice-select.css">

    <link rel="stylesheet" href="~/Content/WelcomePageContent/css/style.css">
</head>
<body class="bg-shape">

    <!--================ Header Menu Area start =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <a class="navbar-brand logo_h" href="index.html"><img src="~/Content/WelcomePageContent/img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-end">
                           
                            <li class="nav-item"><a class="nav-link" href="/Login/Index">Log Out</a>
                            <li class="nav-item active"><a class="nav-link" href="#">@ViewBag.LoginName</a>
                        </ul>


                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->
    <!--================Hero Banner Area Start =================-->
    <section class="hero-banner magic-ball">
        <div class="container">

            <div class="row align-items-center text-center text-md-left">
                <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
                    <h1>Travel More To Discover Yourself</h1>
                    <p>Air seed winged lights saw kind whales in sixth dont seas dron image so fish all tree meat dont there is seed winged lights saw kind whales in sixth dont seas dron image so fish all tree meat dont there </p>
                    @*<a class="button button-hero mt-4" href="#">Get Started</a>*@
                </div>
               
            </div>
        </div>
    </section>
   


    <script src="~/Content/WelcomePageContent/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/WelcomePageContent/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/Content/WelcomePageContent/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/WelcomePageContent/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="~/Content/WelcomePageContent/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/WelcomePageContent/js/mail-script.js"></script>
    <script src="~/Content/WelcomePageContent/js/skrollr.min.js"></script>
    <script src="~/Content/WelcomePageContent/js/main.js"></script>
</body>
</html>